<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="LOGGER">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%-5level %logger{1} - %msg%n}"/>
        </Console>
        <File name="logFile" append="false" fileName="logs/termProject.log">
            <PatternLayout pattern="%d{HH:mm:ss} %p %c{4} [%t] %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="console"/>
        </Root>
        <logger name="com.ttoggweiler.cse5693" level="debug" additivity="false">
            <AppenderRef ref="logFile" />
            <AppenderRef ref="console" />
        </logger>
        <logger name="com.ttoggweiler.cse5693.tree" level="warn" additivity="false">
            <AppenderRef ref="logFile" />
            <AppenderRef ref="console" />
        </logger>
        <logger name="com.ttoggweiler.cse5693.ann" level="warn" additivity="false">
            <AppenderRef ref="logFile" />
            <AppenderRef ref="console" />
        </logger>
        <logger name="com.ttoggweiler.cse5693.explore" level="debug" additivity="false">
            <AppenderRef ref="logFile" />
            <AppenderRef ref="console" />
        </logger>

    </Loggers>
</Configuration>
