<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="TTTGame">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%-5level %logger{1} - %msg%n}"/>
        </Console>
        <File name="TreeLog" append="false" fileName="logs/tree.log">
            <PatternLayout pattern="%d{HH:mm:ss} %p %c{4} [%t] %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="warn">
            <AppenderRef ref="console"/>
        </Root>
        <logger name="com.ttoggweiler.cse5693" level="debug" additivity="false">
            <AppenderRef ref="TreeLog" />
            <AppenderRef ref="console" />
        </logger>
        <logger name="com.ttoggweiler.cse5693.learner" level="debug" additivity="false">
            <AppenderRef ref="TreeLog" />
            <AppenderRef ref="console" />
        </logger>
        <logger name="com.ttoggweiler.cse5693.loader" level="debug" additivity="false">
            <AppenderRef ref="TreeLog" />
            <AppenderRef ref="console" />
        </logger>

        <logger name="com.ttoggweiler.cse5693.rule" level="debug" additivity="false">
            <AppenderRef ref="TreeLog" />
            <AppenderRef ref="console" />
        </logger>

    </Loggers>
</Configuration>